.container {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.label {
  display: inline-block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.note {
  font-size: 0.8rem;
  font-weight: normal;
}

.input {
  width: 100%;
  padding: 0.5rem;
  outline-color: #0f2e61;
}

.button {
  width: 100px;
  padding: 0.5rem;
}
